#!/usr/bin/make -f
# -*- makefile -*-

build:

clean:
	dh_testdir
	dh_clean

binary:
	dh_testdir
	dh_testroot
	dh_clean -k
	mkdir -p debian/osso-icons-default
	cp -ra files/* debian/osso-icons-default
	dh_installdocs -posso-icons-default
	dh_installchangelogs -posso-icons-default
	dh_compress
	dh_fixperms
	dh_strip
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary
